{% extends "base.html" %}

{% block content %}
  <form class="modal-content" action="{{ url_for('answer') }}" method="POST">
    <h3>Welcome {{ playername }}</h3>
    <div class="imgcontainer">
      <img src="{{ url_for('static', filename='image/img_avatar2.png') }}" alt="Avatar" class="avatar">
    </div>
      {% if dbqna.qid %}
      <label for="validtill" class="labelcenter" id="lblTime"><b>Time Remaining: {{dbqna.validtill}}</b></label>

      <input type="hidden" name="qid" value="{{dbqna.qid}}">
      <input type="hidden" name="qdesc" value="{{dbqna.qdesc}}">
      <input type="hidden" name="points" value="{{dbqna.points}}">
      <input type="hidden" name="negativepoints" value="{{dbqna.negativepoints}}">
      
      <label class="labelcenternocolor">Points: {{dbqna.points}}</label>
      <p style="border-style:ridge;">{{dbqna.qid}}: {{dbqna.qdesc}}</p> 

      <input type="radio" name="choice" value="{{ dbqna.ch1 }}" required>
      <label for="choice">{{ dbqna.ch1 }}</label><br>

      <input type="radio" name="choice" value="{{ dbqna.ch2}}" required>
      <label for="choice">{{ dbqna.ch2 }}</label><br>

      <input type="radio" name="choice" value="{{ dbqna.ch3 }}" required>
      <label for="choice">{{ dbqna.ch3 }}</label><br>

      <input type="radio" name="choice" value="{{ dbqna.ch4 }}" required>
      <label for="choice">{{ dbqna.ch4 }}</label>
      <button type="submit" id="btnSubmit">Submit</button>
    {% endif %}
    <br>
    <br>
    <label style="color: red;">
        {{ questionmessage }}
    </label>
  </form>
  <script>
    //x = document.getElementById("lblTime");

    // Set the date we're counting down to
    var countDownDate = new Date("{{ dbqna.validtill }}");
    
    // Update the count down every 1 second
    var x = setInterval(function() {
    
      // Get today's date and time
      var now = new Date().getTime();
        
      // Find the distance between now and the count down date
      var distance = countDownDate - now;
        
      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        
      // Output the result in an element with id="demo"
      document.getElementById("lblTime").innerHTML = "<b>Time Remaining: " + days + "d " + hours + "h "
      + minutes + "m " + seconds + "s </b>";
        
      // If the count down is over, write some text 
      if (distance < 0) {
        document.getElementById("btnSubmit").disabled = true;
        clearInterval(x);
        document.getElementById("lblTime").innerHTML = "EXPIRED";
      }
    }, 1000);
    </script>
{% endblock %}