<html>
    <Head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <h1>Welcome to #-Include</h1>
        <title>
            # Include Quiz Systems
        </title>
    </Head>
    <body>
        <p><h2>Your Association: SSVYM</h2></p>
        <div style = "clear:both">
            <fieldset>
                <div class="row">
                    <div class="column">
                        Competition Name: <strong>Lock-Down - 2020</strong>
                    </div>
                    <div class="column">
                        Last Date: <strong>5PM IST, 14-APRIL-2020</strong>
                    </div>
                    <div class="column">
                        Total Participants: <strong>4</strong>
                    </div>
                    <div class="column">
                        Leader: <strong>PP</strong>
                        Score: <strong>100</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        My Registration: <strong>PVP</strong>
                    </div>
                    <div class="column">
                        My Score: <strong>5PM IST, 14-APRIL-2020</strong>
                    </div>
                    <div class="column">
                        My Position: <strong>4</strong>
                    </div>
                </div>
            </fieldset>
            <p style="color:rgb(2, 206, 2)">{{ success }}</p>
        </div>        <p>Current Quiz Question</p>
    </body>
</html>