<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <h2 class="heading">Signup</h2>
        <form method="GET" action="{{ url_for('senddetails') }}">
            <div class = "input">
                <p>Name: <input name="inp_name" type="text"></p>
                <p>Email: <input name="inp_email" type="text"></p>
                <p>Password: <input name="inp_pass" type="password"></p>
                <button type="submit" class="btn btn-primary"></button>
            </div>
        </form>
    </body>
</html>